:root {
  --line-border-fill: #3498db;
  --line-border-empty: #383838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1f1f1f;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-size: 1.3rem;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 3rem;
  max-width: 100%;
  width: 35rem;
}

.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 0.4rem;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 0.4rem;
  width: 0%;
  z-index: -1;
  transition: all 300ms;
}

.circle {
  background-color: #1f1f1f;
  color: #e2e2e2;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3rem solid var(--line-border-empty);
  transition: all 300ms;
}

.active {
  border: 0.3rem solid var(--line-border-fill);
}

.boton {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 0.6rem;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 0.5rem;
}

.boton:active {
  transform: scale(0.9);
}

.boton:focus {
  outline: 0;
}

.boton:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
