:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --black: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background: url("/images/bg-intro-desktop.png");
  background-color: var(--red);
}

#container {
  width: 70%;
  height: 100vh;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 140px;
}

#header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#header h1,
#header p {
  color: white;
}

#main {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main #form {
  width: 80%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}

#main #boton button {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--blue);
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 10px var(--black);
}

#boton button p:nth-child(1) {
  font-weight: bold;
  margin-right: 5px;
}

#main #boton {
  margin-bottom: 20px;
  width: 100%;
}

#form input[type="submit"] {
  cursor: pointer;
  background-color: var(--green);
  color: white;
  width: 100%;
  border: none;
  border-radius: 2px;
  height: 40px;
  box-shadow: 1px 1px 1px var(--green);
}

#form input[type="email"],
#form input[type="text"],
#form input[type="password"] {
  width: 95%;
  padding-left: 10px;
  margin-bottom: 10px;
  color: var(--black);
  text-transform: capitalize;
  border: 1px solid var(--grayish-blue);
  border-radius: 2px;
  height: 40px;
}

#form #footer {
  text-align: center;
  font-size: 9px;
}

#footer p {
  color: var(--grayish-blue);
}

#footer a {
  text-decoration: none;
  cursor: pointer;
  color: var(--red);
  font-weight: bold;
}

@media (max-width: 675px) {
  #container {
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
    grid-gap: 0;
  }

  #header {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    text-align: center;
  }

  #main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  }

  #main #boton {
    width: 75%;
  }

  #boton button {
    padding: 10px 0;
    height: 90px;
    display: flex;
    flex-direction: column;
  }
}
