:root {
  --tomato: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Charcoal-Grey);
}

#container2 {
  background-color: var(--White);
  width: 20vw;
  height: 50vh;
  padding: 30px;
  overflow: hidden;
  margin: 0 auto;
  display: grid;
  border-radius: 20px;
  grid-template-columns: 1fr;
}
#container2 img {
  width: 40px;
  margin-bottom: 10px;
}

#container2 p {
  font-size: 13px;
  margin: 0;
}

#container2 h1 {
  color: var(--Dark-Slate-Grey);
  margin: 0;
}

#container2 button {
  width: 100%;
  font-weight: bold;
  color: white;
  background: var(--Dark-Slate-Grey);
  border: none;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

#container2 button:hover {
  background: linear-gradient(to right, RGB(255, 84, 120), RGB(255, 104, 62));
  box-shadow: 0px 0px 5px var(--tomato);
}

@media (max-width: 500px) {
  body {
    background: var(--White);
  }
  #container2 {
    background-color: var(--White);
    width: 100vw;
    height: 700px;
    overflow: hidden;
    margin: 0 auto;
    display: grid;
    border-radius: 20px;
    grid-gap: 0;
    grid-template-rows: repeat((18, 1fr));
  }
  #container2 img {
    grid-row: 2/3;
    width: 40px;
  }

  #container2 p {
    grid-row: 4/5;
    font-size: 13px;
    margin: 0;
  }

  #container2 h1 {
    grid-row: 3/4;
    color: var(--Dark-Slate-Grey);
    margin: 0;
  }

  #container2 button {
    width: 100%;

    grid-row: 17/18;
  }
}
